<script setup lang="ts">
import { useaddressBookStore } from '@/stores/addressBookStore';

const addressBookstore = useaddressBookStore()
</script>

<template>
    <div>
      <button @click="addressBookstore.isAddNew = !addressBookstore.isAddNew">Add</button>
      <table>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>gender</th>
          <th>tel</th>
          <th>operation</th>
        </tr>
        <tr v-for="ad of addressBookstore.addressList" :key="ad.id">
          <td>{{ ad.id }}</td>
          <td>{{ ad.name }}</td>
          <td>{{ ad.gender }}</td>
          <td>{{ ad.tel }}</td>
          <td>
            <button @click="addressBookstore.edit(ad.id)">Edit</button>
            <button @click="addressBookstore.remove(addressBookstore.address.id)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
</template>
<style scoped>
input, 
select, 
label, 
button {
  font-family: 'Kanit';
  font-size: 20pt;
  margin: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
</style>